@import './variables.css';

:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 4rem;
  line-height: 5rem;
}

h2 {
  font-size: 3rem;
  line-height: 4rem;
}

h3 {
  font-size: 2rem;
  line-height: 3rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-color);
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0 0 5px 1px var(--shadow);
}

button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

button:hover {
  border-color: var(--button-hover-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid black;
}

tr {
  height: 4.2rem;
}

tr:last-child > td {
  border-bottom: 0;
}

th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
}
th:last-child ,
td:last-child {
  border-right: 0;
}

.spacer {
  flex-grow: 1;
}

input {

}
